.topBarTitle{
  flex: 1;
  text-align: center;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.topBarBack{
  display: flex;
  background-color: #1890ff;
  align-items:center;
  text-align: center;
  color: #fff;
  height:100%;
  padding: 10px;
  :global(.ivu-icon){
    cursor:pointer;
  }
}
